<h1>Login Page</h1>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<form action ="/Home/Login" method="post">
	<p> Username: </p>
	<input type="text" name="Username", value=""/>

	<p> Password: </p>
	<input type="text" name="Password" , value="" />
	<button type="submit">Login</button>
</form>