<h1>Register Page</h1>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<form action ="/Home/Register" method="post">
	<input type="text" name="username", value="Username"/>
	<input type="text" name="password" , value="Password" />
	<button type="submit">Register</button>
</form>